/* ITCSS: Settings */
@import '_root';
@import '_var.sass';

/* ITCSS: Tools */
@import '_mixins.sass';

/* ITCSS: Resets */
@import '../../node_modules/normalize.css/normalize';

/* ITCSS: Fonts */
@import '_modak.scss';
@import '_icofont.scss';

/* ITCSS: Base */
@import '_global.sass';
@import '_utility.sass';

/* ITCSS: Sections */
@import '_main.sass';
@import '_footer.sass';
@import '_cart.sass';

/* ITCSS: Components */
@import '_card.sass';
@import '_topNav.sass';
@import '_splash.sass';

/* ITCSS: Trumps */
@import '_mediaqueries.sass';
