<!DOCTYPE html>
<html>
  <head>
    <title>Past Orders</title>
    <link rel="stylesheet" href="../styles/style.min.css">
  </head>
  <body>

    <div id="app">

      <header class="top-bar spread">
        <nav class="top-bar-nav">
          <a href="../app.html" class="top-bar-link">
            <i class="icofont-spoon-and-fork"></i>
            <span>Home</span>
          </a>
          <a href="products.html" class="top-bar-link">
            <span>Products</span>
          </a>
          <a href="past-orders.html" class="top-bar-link">
            <span>Past Orders</span>
          </a>
        </nav>
        <a href="#" class="top-bar-cart-link">
          <i class="icofont-cart-alt icofont-1x"></i>
          <span>Cart (0)</span>
        </a>
      </header>

      <main class="wrapper">
        <h1>Past Orders</h1>

        <table class="product-table">
          <thead>
            <tr>
              <td><span class="sr-only">Product Image</span></td>
              <td>Product</td>
              <td>Price</td>
              <td>Quantity</td>
              <td>Total</td>
              <td><span class="sr-only">Actions</span></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><i class="icofont-carrot icofont-4x"></td>
              <td>Carrot</td>
              <td>$1.00</td>
              <td>1</td>
              <td>$1.00</td>
              <td><button class="btn btn-dark">Add</button></td>
            </tr>
            <tr>
              <td><i class="icofont-banana icofont-4x"></td>
              <td>Banana</td>
              <td>$0.50</td>
              <td>10</td>
              <td>$5.00</td>
              <td><button class="btn btn-dark">Add</button></td>
            </tr>
          </tbody>
        </table>
      </main>

      <aside class="cart-container">
        <div class="cart">
          <h1 class="cart-title spread">
            <span>
              Cart
              <i class="icofont-cart-alt icofont-1x"></i>
            </span>
            <button class="cart-close">&times;</button>
          </h1>

          <div class="cart-body">
            <table class="cart-table">
              <thead>
                <tr>
                  <th><span class="sr-only">Product Image</span></th>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Qty</th>
                  <th>Total</th>
                  <th><span class="sr-only">Actions</span></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><i class="icofont-carrot icofont-3x"></i></td>
                  <td>Carrot</td>
                  <td>$1.00</td>
                  <td class="center">1</td>
                  <td>$1.00</td>
                  <td class="center">
                    <button class="btn btn-light cart-remove">
                      &times;
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <p class="center"><em>No items in cart</em></p>
            <div class="spread">
              <span><strong>Total:</strong> $1.00</span>
              <button class="btn btn-light">Checkout</button>
            </div>
          </div>
        </div>
      </aside>

    </div>

  </body>
</html>
