<!DOCTYPE html>
<html>
  <head>
    <title>Splendid Food</title>
    <link rel="stylesheet" href="styles/style.min.css">
    <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../public/favicon.ico" type="image/ico">
  </head>
  <body>

    <div id="app">

      <header class="top-bar spread">
        <nav class="top-bar-nav">
          <a href="#" class="top-bar-link">
            <i class="icofont-spoon-and-fork"></i>
            <span>Home</span>
          </a>
          <a href="views/products.html" class="top-bar-link">
            <span>Products</span>
          </a>
          <a href="views/past-orders.html" class="top-bar-link">
            <span>Past Orders</span>
          </a>
        </nav>
        <a href="#" class="top-bar-cart-link">
          <i class="icofont-cart-alt icofont-1x"></i>
          <span>Cart (0)</span>
        </a>
      </header>

      <div class="splash-container">
        <div class="splash">
          <h1>Splendid Food</h1>
        </div>
      </div>

      <main class="wrapper">

        <h2>Recommended</h2>

        <div class="recommended">

          <div class="card">
            <div class="card-title">
              Carrots
            </div>
            <div class="card-body">
              <i class="icofont-10x icofont-carrot"></i>
              <form>
                <div class="row">
                  <div class="cell">
                    <label>Type:</label>
                  </div>
                  <div class="cell">
                    <em>Vegetable</em>
                  </div>
                </div>
                <div class="row">
                  <div class="cell">
                    <label>Price:</label>
                  </div>
                  <div class="cell">
                    $4.82
                  </div>
                </div>
                <div class="row">
                  <div class="cell">
                    <label>Quantity:</label>
                  </div>
                  <div class="cell">
                    <input type="number" v-model.number="inventory.carrots">
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <button @click="addToCart('carrots')" class="btn btn-light">
                Add to cart
              </button>
            </div>
          </div>

          <div class="card">
            <div class="card-title">
              Pineapples
            </div>
            <div class="card-body">
              <i class="icofont-10x icofont-pineapple"></i>
              <form>
                <div class="row">
                  <div class="cell">
                    <label>Type:</label>
                  </div>
                  <div class="cell">
                    <em>Fruit</em>
                  </div>
                </div>
                <div class="row">
                  <div class="cell">
                    <label>Price:</label>
                  </div>
                  <div class="cell">
                    $1.62
                  </div>
                </div>
                <div class="row">
                  <div class="cell">
                    <label>Quantity:</label>
                  </div>
                  <div class="cell">
                    <input type="number" v-model="inventory.pineapples">
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <button class="btn btn-light">Add to cart</button>
            </div>
          </div>

          <div class="card">
            <div class="card-title">
              Cherries
            </div>
            <div class="card-body">
              <i class="icofont-10x icofont-cherry"></i>
              <form>
                <div class="row">
                  <div class="cell">
                    <label>Type:</label>
                  </div>
                  <div class="cell">
                    <em>Fruit</em>
                  </div>
                </div>
                <div class="row">
                  <div class="cell">
                    <label>Price:</label>
                  </div>
                  <div class="cell">
                    $1.04
                  </div>
                </div>
                <div class="row">
                  <div class="cell">
                    <label>Quantity:</label>
                  </div>
                  <div class="cell">
                    <input type="number" v-model="inventory.cherries">
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <button class="btn btn-light">Add to cart</button>
            </div>
          </div>

        </div>

      </main>

      <footer>
      </footer>

    </div>
      
    <script src="https://unpkg.com/vue@next"></script>
    <script>
      let app = Vue.createApp({
        data() {
          return {
            inventory: {
              carrots: 0,
              pineapples: 0,
              cherries: 0
            },
            cart: {
              carrots: 0,
              pineapples: 0,
              cherries: 0
            }
          }
        },
        methods: {
          addToCart(type) {
            this.cart[type] += this.inventory[type]
            console.log(this.cart)
          }
        }
      })

      app.mount('#app')
    </script>
  </body>
</html>
